@font-face {
    font-family: font;
    src: url(font/Neucha.ttf);
}
*{
    padding: 0px;
    margin: 0px;
}
header{
    background-image: url(img/кот\ переходник5.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
main{
    background-color: #b3554d;
}
.header{
    padding-left: 760px;
    padding-top: 600px;
    font-size: 40px;
    text-align: center;
    font-family: font;
    color: rgb(247, 230, 210)
}
h2{
    color: #a7a8fc;
    font-size: 30px;
    font-family: font;
    margin-bottom: 7px;
    margin-left: 60px;
    text-align: start;
    margin-bottom: 15px;
}
p{
    color: #a7e4fc;
    text-align: justify;
    font-size: 25px;
    font-family: font;
    margin-left: 50px;
    margin-bottom: 5px;
}
h1{
    color: #96c9af;
    text-align: center;
    font-family: font;
    font-size: 35px;
    margin-bottom: 10px;
}
ol{
    color: #a7e4fc;
    text-align: center;
    font-size: 25px;
    font-family: font;
}
img{
    height: 350px;
    padding-left: 150px;
}
br{
    margin-bottom: 6px;
}
li{
    margin-bottom: 8px;
}
.back-button {
    padding: 10px 20px;
    background-color: #a54e56;
    color: rgb(247, 230, 210);
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    margin: 30px 25px;
    border: 2px solid black; /* Update dynamically for light/dark mode */
    transition:
    opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
nav{
    background-color: #b35149;
}
footer{
    background-color: #b35149;
    height: 100px;
}
a{
    text-decoration: none;
    color: #96c9af;
    font-size: 18px;
}
a:hover{
    color: #a7e4fc;
}