.header{
    background-color: rgb(62, 60, 66);
    height: 50px;
    width: 100vw;
}
*{
    padding: 0px;
    margin: 0px;
}
.header p{
    text-align: center;
    color: white;
    font-weight: bold;
}
.title{
    background-image: url(img/cat.png);
    background-size: 95%;
    height: 100vh;
}
div h1{
    text-align: left;
    border: 4px rgb(97, 97, 97);
    padding-left: 590px;
    padding-top: 250px;
    color: lightsteelblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    background-color: gray;
    position: relative;
    height: 1500px;
    width: 100vw;
}
.main{
    background: url(img/набросок.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
.main h1{
    color: rgb(97, 97, 97);
}
a{
    color: bisque;
    text-decoration: none;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    margin-left: 400px;
}
.content h1 a h3{
    position: absolute;
    right: 0;
    margin-right: 400px;
}
